In [1]:
import pandas as pd
from ydata_profiling import ProfileReport
from pathlib import Path

# Giả sử notebook này nằm trong thư mục notebooks
# Đường dẫn tương đối đến file dữ liệu thô
RAW_DATA_PATH = Path("../data/raw/ibtracs_track_ml.csv")

data = pd.read_csv(RAW_DATA_PATH)
print(data.info())
data.head()

/home/sherry/py_envs/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22686 entries, 0 to 22685
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SID        22686 non-null  object
 1   SEASON     22686 non-null  int64
 2   NUMBER     22686 non-null  int64
 3   BASIN      18693 non-null  object
 4   SUBBASIN   19429 non-null  object
 5   NAME       22686 non-null  object
 6   ISO_TIME   22686 non-null  object
 7   NATURE     22686 non-null  object
 8   LAT        22686 non-null  float64
 9   LON        22686 non-null  float64
 10  WMO_WIND   7559 non-null   float64
 11  WMO_PRES   8468 non-null   float64
 12  DIST2LAND  22686 non-null  int64
 13  LANDFALL   22287 non-null  float64
dtypes: float64(5), int64(3), object(6)
memory usage: 2.4+ MB
None

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,WMO_WIND,WMO_PRES,DIST2LAND,LANDFALL
0,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 00:00:00,MX,-12.6,147.7,25.0,1005.0,270,270.0
1,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 03:00:00,MX,-12.9,147.8,NaN,NaN,303,303.0
2,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 06:00:00,MX,-13.1,147.9,25.0,1004.0,324,324.0
3,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 09:00:00,MX,-13.2,147.9,NaN,NaN,336,335.0
4,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 12:00:00,TS,-13.3,148.0,30.0,1004.0,347,336.0

In [ ]:
# Tạo báo cáo profile để hiểu sâu hơn về dữ liệu
# Cảnh báo: Có thể mất vài phút nếu dữ liệu lớn
profile = ProfileReport(data, title="Báo cáo Phân tích Dữ liệu Bão")

# Hiển thị báo cáo ngay trong notebook
profile.to_widgets()

# Hoặc lưu ra file HTML
# profile.to_file("hurricane_data_report.html")